h1 {
	text-align: center;
	color: #A4A400;
	background: #F0F0F0;
	font-family: "Century Gothic","Futura", "Verdana", "sans-serif";
	font-size: 22pt;
	text-decoration: underline;
}

a {
	color: #A4A400;
	font-family: Georgia, Garamond, serif;
}

body {
	background-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
}

ul {
	list-style-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}
