<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--Copyright reversed by SS.SYSU-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Buy Your Way to a Better Education!</title>
		<link href={{static_url("buyagrade.css")}} type="text/css" rel="stylesheet" />
	</head>

	<body>
		<h1>Buy Your Way to a Better Education!</h1>

		<p>
			The rough economy, along with recent changes in University of Washington policy, now allow us to offer grades for money.  That's right!  All you need to get a 4.0 in this course is cold, hard, cash.
		</p>

		<hr />

		<h2>Give us your money</h2>
		<form action="http://localhost:8000/buyagrade/">
			<div>
				Name<br>
				<input type="text" name="name"><br>
				Section<br>
				<select name="section">
					<option selected="selected">(Select a section)</option>
					<option>sectionA</option>
					<option>sectionB</option>
					<option>sectionC</option>
				</select><br>
				Credit Card<br>
				<input type="text" name="credit_card"><br>
				<input type="checkbox" name="card" value="Visa">Visa
				<input type="checkbox" name="card" value="MasterCard">MasterCard<br>
				<input type="submit" name="submit" value="I am a giant sucker.">
			</div>
		</form>
	</body>
</html>
